body.light {
  --nav_bgc: #ffffff;
  --nav_main_color: #161616;
  --nav_second_color: rgba(22, 22, 22, 0.5);
  --logo_task: #1f1f1f;
  --need_bgc: #f6f6f7;
  --logout_fill: #bedbb0;
  --logout_fill_active: #9dc888;
  --nav_icon_bgc: #1f1f1f;
  --nav_icon: #ffffff;

  --cal_border: #bedbb0;
  --cal_background: #ffffff;
  --cal_arrows: #161616cc;
  --cal_arrows_active: #9dc888;
  --cal_month:#161616;
  --cal_month_border: #16161633;
  --cal_day_name: #16161680;
  --cal_days: #161616;
  --cal_days_hover: #161616;
  --cal_days_out_hover: #161616;
  --cal_bg_out_hover: #16161620;
  --cal_days_bc_hover: #bedbb0;
  --cal_days_disabled: #16161633;
  --cal_btn_color: #bedbb0;

  --header_bgc: #fcfcfc;
  --header_theme_text: rgba(22, 22, 22, 0.8);
  --theme_color: #161616;
  --theme_active: #bedbb0;
  --border_theme: #bedbb0;
  --theme_bgc: #fcfcfc;
  --theme_shadow: 0px 4px 16px 0px rgba(17, 17, 17, 0.1);
  --header_user_text: #161616;
  --user_bgc: #f6f6f7;
  --user_icon: #ffffff;
  --add_photo_bgc: #bedbb0;
  --plus_color: #161616;

  --board_bgc: #F6F6F7;
  --board_filter_color: rgba(22, 22, 22, 0.8);
  --board_task_bgc: #ffffff;
  --board_main_color: #161616;
  --board_second_color: rgba(22, 22, 22, 0.5);
  --icon_active_color: #bedbb0;

  --modal_bgc: #fcfcfc;
  --modal_main_color: #161616;
  --modal_second_color: rgba(22, 22, 22, 0.5);
  --modal_data_color: #bedbb0;
  --input_color: #bedbb0;
  --modal_field: #fcfcfc;
  --close_icon: #161616;
  --close_active: #bedbb0;

  --normal_btn: #bedbb0;
  --active_btn: #9dc888;
  --text_btn: #161616;
  --plus_bgc: #161616;
  --plus_color: #ffffff;

  --add_btn_bgc: #ffffff;
  --add_text_color: #161616;
  --add_plus_bgc: #161616;
  --add_plus_color: #ffffff;

  --create_normal: #bedbb0;
  --create_active: #9dc888;
  --create_plus_color: #121212;

  --span_color: #bedbb0;

  --line_color: rgba(22, 22, 22, 0.1);
  --svg-bg-color: #f6f6f7;
  --svg-user-color: #ffffff;
  --chevron-down: rgba(22, 22, 22, 0.80);
  --save-color: #161616;
}
