body.violet {
  --nav_bgc: #5255bc;
  --nav_main_color: #ffffff;
  --nav_second_color: rgba(255, 255, 255, 0.5);
  --logo_task: #ecedfd;
  --need_bgc: rgba(236, 237, 253, 0.4);
  --logout_fill: #ffffff;
  --logout_fill_active: #b8bcfd;
  --nav_icon_bgc: #ecedfd;
  --nav_icon: #5255bc;

  --cal_border: #5255bc;
  --cal_background: #ffffff;
  --cal_arrows: #161616cc;
  --cal_arrows_active: #5255bc;
  --cal_month: #161616;
  --cal_month_border: #16161633;
  --cal_day_name: #16161680;
  --cal_days: #161616;
  --cal_days_hover: #fcfcfc;
  --cal_days_out_hover: #161616;
  --cal_bg_out_hover: #16161620;
  --cal_days_bc_hover: #5255bc;
  --cal_days_disabled: #16161633;
  --cal_btn_color: #5255bc;

  --header_bgc: #ffffff;
  --header_theme_text: rgba(22, 22, 22, 0.8);
  --theme_color: #161616;
  --theme_active: #5255bc;
  --border_theme: #ecedfd;
  --theme_bgc: #fcfcfc;
  --theme_shadow: 0px 4px 16px 0px rgba(17, 17, 17, 0.1);
  --header_user_text: #161616;
  --user_bgc: #ecedfd;
  --user_icon: #ffffff;
  --add_photo_bgc: #ecedfd;
  --plus_color: #161616;

  --board_bgc: #ecedfd;
  --board_filter_color: rgba(22, 22, 22, 0.8);
  --board_task_bgc: #ffffff;
  --board_main_color: #161616;
  --board_second_color: rgba(22, 22, 22, 0.5);
  --icon_active_color: #5255bc;

  --modal_bgc: #fcfcfc;
  --modal_main_color: #161616;
  --modal_second_color: rgba(22, 22, 22, 0.5);
  --modal_data_color: #5255bc;
  --input_color: #5255bc;
  --modal_field: #fcfcfc;
  --close_icon: #161616;
  --close_active: #5255bc;

  --active_btn: #5255bc;
  --normal_btn: #7b7ede;
  --text_btn: #ffffff;
  --plus_bgc: #ffffff;
  --plus_color: #161616;

  --add_btn_bgc: #ffffff;
  --add_text_color: #161616;
  --add_plus_bgc: #5255bc;
  --add_plus_color: #ffffff;

  --create_normal: #b8bcfd;
  --create_active: #979cea;
  --create_plus_color: #ffffff;

  --span_color: #5255bc;

  --line_color: rgba(22, 22, 22, 0.1);
  --svg-bg-color: #ecedfd;
  --svg-user-color: #ffffff;
  --chevron-down: rgba(22, 22, 22, 0.80);
  --save-color: #ffffff;
}
