/* @import-normalize; bring in normalize.css styles */

@import './shared/basicStyles/fonts.scss';

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;

  font-weight: 400;
  font-size: 14px;
  line-height: 1.16;
  font-family: -apple-system, BlinkMacSystemFont, 'Poppins', 'Segoe UI',
    'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Dark Theme */
body.dark {
  --background-color: #1F1F1F;
  --text-color: #FFFFFF;
}

/* public/light.css */
body {
  background-color: #f2f2f2;
  color: #333;
}

/* Violet Theme */
body.violet {
  --background-color: #6a1b9a;
  --text-color: #fff;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
* {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  padding: 0;
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding-left: 0;
  list-style-type: none;
}

img {
  display: block;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
}

a:visited {
  color: none;
}

button,
input {
  background-color: inherit;
}

button {
  cursor: pointer;
}
