/* @import-normalize; bring in normalize.css styles */

@import './shared/basicStyles/fonts.scss';
@import './scss/theme/theme.scss';

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  background-color: var(--board_bgc);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.16;
  font-family: -apple-system, BlinkMacSystemFont, 'Poppins', 'Segoe UI',
    'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  padding: 0;
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

img {
  display: block;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
}

a:visited {
  color: none;
}

// button,
// input {
//   background-color: inherit;
// }

button {
  cursor: pointer;
  padding: 0;
}
